# Finder
.DS_Store

# Xcode - User files
xcuserdata/

**/*.xcodeproj/project.xcworkspace/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata

**/*.xcodeproj/project.xcworkspace/xcshareddata/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

**/*.playground/playground.xcworkspace/*
!**/*.playground/playground.xcworkspace/xcshareddata

**/*.playground/playground.xcworkspace/xcshareddata/*
!**/*.playground/playground.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

llvm-project/
SwiftProject
build/
libffi/
tools/
LLVM**.xcframework/
Clang**.xcframework/
*.o
CoreCompiler.framework/CoreCompiler
LLVM-iphoneos/
CoreCompiler.framework/Headers/*
CoreCompiler.framework/lib_Compiler*.dylib
